.company-visualisation {
}

.company-visualisation__stage {
  position: relative;
  block-size: var(--tcp-visualisation-height);
}

.company-visualisation__canvas {
  inline-size: 100%;
  block-size: 100%;
}
